
.main-container {
    background-color: #000;
}
.main-container > h1 {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: #343434;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-container > h2 {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: #4e5757;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container > h3 {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: #4F6D7A;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.main-container > h4 {
    background-color: #343434;
    color: #fff;
    padding-bottom:10rem;
    padding-left:15rem;
    padding-right:15rem;
    font-size: 20px;
    margin: 0 auto;
    line-height:1.6;
    text-align: center;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container > h5 {
    background-color: #4e5757;
    color: #fff;
    font-size: 20px;
    padding-bottom:10rem;
    padding-right:15rem;
    padding-left:15rem;
    margin: 0 auto;
    line-height:1.6;
    text-align: center;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container > h6 {
    background-color: #4F6D7A;
    color: #fff;
    font-size: 20px;
    padding-bottom:10rem;
    padding-right:15rem;
    padding-left:15rem;
    margin: 0 auto;
    line-height:1.6;
    text-align: center;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 1228px) {

    .main-container > h1 {
        font-size: 37.5px;
        padding-top:9rem;
    }
    .main-container > h2 {
        font-size: 37.5px;
        padding-top:9rem;
    }
    .main-container > h3 {
        font-size: 37.5px;
        padding-top:9rem;
    }
    .main-container > h4 {
        font-size: 18px;
        padding-right:10.5rem;
        padding-left:10.5rem;
        padding-bottom:9rem;
    }
    .main-container > h5 {
        font-size: 18px;
        padding-right:10.5rem;
        padding-left:10.5rem;
        padding-bottom:9rem;
    }
    .main-container > h6 {
        font-size: 18px;
        padding-right:10.5rem;
        padding-left:10.5rem;
        padding-bottom:8rem;
    }
}

@media screen and (max-width: 960px) {


    .main-container > h1 {
        font-size: 35px;
        padding-top:7rem;
    }
    .main-container > h2 {
        font-size: 35px;
        padding-top:7rem;
    }
    .main-container > h3 {
        font-size: 35px;
        padding-top:7rem;
    }
    .main-container > h4 {
        font-size: 16.5px;
        padding-right:7.5rem;
        padding-left:7.5rem;
        padding-bottom:7rem;
    }
    .main-container > h5 {
        font-size: 16.5px;
        padding-right:7.5rem;
        padding-left:7.5rem;
        padding-bottom:7rem;
    }
    .main-container > h6 {
        font-size: 16.5px;
        padding-right:7.5rem;
        padding-left:7.5rem;
        padding-bottom:6rem;
    }
}

@media screen and (max-width: 768px) {


    .main-container > h1 {
        font-size: 30px;
        padding-top:4rem;
    }
    .main-container > h2 {
        font-size: 30px;
        padding-top:4rem;
    }
    .main-container > h3 {
        font-size: 30px;
        padding-top:4rem;
    }
    .main-container > h4 {
        font-size: 15px;
        padding-right:5.5rem;
        padding-left:5.5rem;
        padding-bottom:5rem;
    }
    .main-container > h5 {
        font-size: 15px;
        padding-right:5.5rem;
        padding-left:5.5rem;
        padding-bottom:5rem;
    }
    .main-container > h6 {
        font-size: 15px;
        padding-right:5.5rem;
        padding-left:5.5rem;
        padding-bottom:4.5rem;
    }
}

@media screen and (max-width: 687px) {
    .main-container > h4 {
        padding-right:5rem;
        padding-left:5rem;
    }
    .main-container > h5 {
        padding-right:5rem;
        padding-left:5rem;
    }
    .main-container > h6 {
        padding-right:5rem;
        padding-left:5rem;
    }
}