.team-hero-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.team-hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.team-hero-container > h1 {
    color: #fff;
    font-size: 200px;
    margin-top: -180px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .team-hero-container > h1 {
        font-size: 130px;
    }
}
@media screen and (max-width: 900px) {
    .team-hero-container > h1 {
        font-size: 105px;
    }
}
@media screen and (max-width: 700px) {
    .team-hero-container > h1 {
        font-size: 85px;
    }
}